.inputContainer {
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  background-color: #efeae2;
}

.inputWrapper {
  display: flex;
  gap: .8rem;
  border-radius: 8rem;
  border: none;
  background-color: #fff;
}

.inputField {
  flex: 1;
  padding: 1rem 1.5rem;
  border-radius: 8rem;
  border: none;
  background-color: #ffffff;
  font-size: 0.9375rem;
}

.inputField:focus {
  outline: none;
}

.sendIcon {
  width: 0;
  height: 0;
  border-top: 0.45rem solid transparent;
  border-bottom: 0.45rem solid transparent;
  border-left: 0.75rem solid #fff;
  margin-left: 0.2rem;
}

.sendBtn {
  background-color: var(--accent);
  border: none;
  margin: 0.5rem;
  border-radius: 100%;
  color: #fff;
  font-weight: bold;
  padding: 0.25rem 1rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sendBtn:disabled {
  background-color: transparent;
  cursor: default;
}