.searchContainer {
  padding: 0rem 1rem 1rem 1rem;
  background-color: var(--color-white);
}

.searchWrapper {
  display: flex;
  align-items: center;
  background-color: var(--bg-surface-component);
  border-radius: 2rem;
  padding: 0 1rem;
  border: 1.5px solid transparent;
  transition: all 0.2s ease;
}

.searchWrapper:hover {
  border-color: var(--border-dark)
}

.searchWrapper:focus-within {
  border-color: var(--brand-primary);
  background-color: var(--color-white);
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.6rem 0.5rem;
  font-size: 0.875rem;
  color: var(--text-primary);
}

.searchInput::placeholder {
  color: var(--text-secondary);
}

.icon {
  flex-shrink: 0;
}

.clearIcon {
  flex-shrink: 0;
  cursor: pointer;
  transition: opacity 0.2s;
}

.clearIcon:hover {
  opacity: 0.7;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.resultsTitle {
  font: var(--font-sm-medium);
  color: var(--text-secondary);
  padding: 1.5rem 0rem 0.5rem 0.3rem;
}

.resultItemContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
}

.resultItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--bg-surface-component);
  border-radius: 0.5rem;
}