.header {
  display: flex;
  height: 3.5rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font: var(--font-logo-bold);
  color: var(--brand-primary);
}

.button {
  border-color: var(--border-light);
  border-radius: 6px;
  padding: 4px 16px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.button:hover {
  background-color: var(--error-bg);
  color: var(--error)
}