.header {
  padding: 16px;
  border-bottom: 1px solid #e2e8f0;
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e293b;
}

.button {
  border-color: var(--border-light);
  border-radius: 6px;
  padding: 4px 16px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: #f1f5f9;
}

.button:hover {
  background-color: #e2e8f0;
}