.header {
  display: flex;
  height: 8vh;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--brand-primary);
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.button {
  border-color: var(--border-light);
  border-radius: 6px;
  padding: 4px 16px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: var(--bg-surface-hover);
}

.button:hover {
  background-color: var(--color-gray-200);
}