.layoutContainer {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-main);
    /* Light slate background */
    font-family: sans-serif;
}

/* LEFT SIDE: 30% Width, Vertical Stack */
.sidebar {
    width: 30%;
    min-width: 280px;
    /* Prevents the sidebar from getting squished too small */
    max-width: 400px;
    /* Prevents the side fbar from getting awkwardly wide */
    border-right: 1px solid var(--border-light);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bg-surface);
}

/* RIGHT SIDE: 70% Width, Vertical Stack */
.mainContent {
    flex: 1;
    /* Takes up the remaining 70% dynamic space */
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Scroll Containers for List and Messages */
.scrollableArea {
    flex: 1;
    display: flex;
    overflow-y: auto;
}