.userList {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: .5rem;
}

.userListItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .2rem .8rem;
  min-height: 4rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.userListItem:hover {
  background-color: var(--bg-surface-hover);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--bg-surface-active-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border: .2px solid;
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  margin: 0;
  font: var(--font-base-regular);
  font-weight: 500;
  color: var(--text-primary);
}

.timestamp {
  font: var(--font-xs-regular);
  color: var(--text-secondary);
}

.timestampUnread {
  font: var(--font-xs-regular);
  color: var(--brand-primary);
}

.messageRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageText {
  margin: 0;
  color: var(--text-secondary);
  font: var(--font-sm-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.unreadDot {
  min-width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-primary);
  color: var(--text-inverse);
  font: var(--font-xs-medium);
  box-sizing: border-box;
}

.noContacts {
  font: var(--font-sm-medium);
  color: var(--text-secondary);
}

.filterBtn {
  color: var(--brand-primary);
  font: var(--font-xs-medium);
  padding: .4rem;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}