.userList {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: .5rem;
}

.userListItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .2rem .8rem;
  height: 4rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.userListItem:hover {
  background-color: var(--bg-surface-hover);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--text-primary);
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
}

.timestamp {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.timestampUnread {
  font-size: 0.75rem;
  color: var(--brand-primary);
}

.messageRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageText {
  margin: 0;
  color: var(--text-secondary);
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.unreadDot {
  min-width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-primary);
  color: var(--text-inverse);
  font-size: 0.75rem;
  font-weight: 600;
  box-sizing: border-box;
}